// Section Title
.sectionTitle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 15px;

}

.title {
    margin-bottom: 10px;

    font-size: 48px;
    line-height: 3.125rem;

    color: rgba(255, 255, 255);
}

.originalTitle {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 400;
}

.detailsDivider {
    display: flex;

    margin-bottom: 5px;

    font-size: 14px;
}

.detailsRunTime {
    &::before {
        display: inline-block;
        margin: 0 0.5rem 0.2rem;
        content: "";
        font-size: 1rem;
        line-height: .5rem;
        padding: 1px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: currentColor;
    }
}

.rating {
    display: flex;
    flex-direction: column;
}

.media {
    display: grid;
    grid-template-columns: repeat(2, 250px);
}

// Section

.informationList {
    display: flex;
    gap: 40px;
    margin-bottom: 15px;
}

.informationItem {
    display: flex;
    align-items: center;
}

