.creditList {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.creditItem {
    display: flex;
    align-items: center;
}

.imgOverlay {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}